<library path="src">
  <class name="NAOqiDashboard" type="naoqi_dashboard.frame.NAOqiDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying a dashboard that displays and interacts with low level NAOqi states.
    </description>
    <qtgui>
      <group>
        <label>Robot</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to specific robots.</statustip>
      </group>
      <group>
        <label>NAOqi</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to the NAOqi robot.</statustip>
      </group>
      <label>NAOqi Dashboard</label>
      <icon type="theme">task-past-due</icon>
      <statustip>A Python GUI plugin for displaying a dashboard that displays and interacts with low level NAOqi states.</statustip>
    </qtgui>
  </class>
</library>
